<br/>
<div class="text-center" id="histoResponseTimeMod"  style="background-color:#46C7C7;margin-bottom:10px;border-radius:10px;">
    <button type="button" class="btn btn-outline-info btn-xs" style="background-color: Transparent;border: none;outline:none;">
        <h3 class="text-center" style="color:white;">Response Time</h3>
    </button>
</div>
<div id="histoResponseTime" style="height: 400px;"></div>

<script>

var histgramResponseTimeData = {{histoResponseTime}}
var propertyDataResponseTime = [];
for (var i = 0; i < histgramResponseTimeData.length; i++) {
    propertyDataResponseTime[histgramResponseTimeData[i][0]] = {
                                             "90% Response Time": histgramResponseTimeData[i][2],                                                              "Build Number": histgramResponseTimeData[i][3]
                                             };
}

Highcharts.stockChart('histoResponseTime', {
    chart: {
        zoomType: 'x'
    },
    credits: { enabled: false },
  legend: {
    enabled: true,
    floating: true,
    y: -55,
    borderWidth: 0,
    itemStyle: { fontWeight: "normal" }
  },
    xAxis: {
         type: 'datetime',
         ordinal: false,
         maxZoom: 10000
    },
  yAxis: [
    {
      min: 0,
      title: {
        text: 'Mean Response Time (ms)',
        style: { color: '#4572A7' }
      },
      opposite: false
    }
  ],
    plotOptions: {
    arearange: { lineWidth: 1 },
    series: {
      dataGrouping: { enabled: false },
      marker: {
      enabled: true,
                radius: 8
            }
      },

    },
    rangeSelector: {
    rangeSelector: { align: "left" },
    buttonSpacing: 0,
    buttonTheme: {
      fill: 'LightGrey',
      padding: 1,
      stroke: 'Black',
      'stroke-width': 0.25,
      style: {
        color: 'Black',
        fontWeight: 'bold',
      },
      states: {
        stroke: 'Black',
        'stroke-width': 0.25,
        hover: {
          fill: 'DarkGrey',
          style: { color: 'black' }
        },
        select: {
          fill: 'DarkOrange',
          style: { color: 'white' }
        }
      }
    },
    buttons : [
      {
        type : 'month',
        count : 1,
        text : '1m'
      }, {
        type : 'month',
        count : 3,
        text : '3m'
      }, {
        type : 'ytd',
        count : 1,
        text : 'YTD'
      }, {
        type : 'all',
        count : 1,
        text : 'All'
      }
    ],
    selected : 3,
    inputEnabled : true
  },
    tooltip: {
        valueDecimals: 0,
        xDateFormat: '%H:%M:%S %d-%m-%Y',
        formatter: function () {
                var s = '<b>' + Highcharts.dateFormat('%A, %b %e, %Y', this.x) + '</b>';

                            $.each(this.points, function () {
                    s += '<br/>Build Number : ' + propertyDataResponseTime[this.x]["Build Number"] + ' <br/>' +
                        'Mean Response Time  : ' + this.y + ' ms<br/>' +
                        '90% Response Time : ' +  propertyDataResponseTime[this.x]["90% Response Time"] + ' ms';
                });
                return s;
            }
    },
    series: [
        {
            pointInterval: 1000,
            tooltip: { yDecimals: 0, ySuffix: 'ms' },
            type : 'line',
            yAxis: 0,
            zIndex: 10,
            marker: {
                radius: 4
            },
            name: 'Mean Response Time',
            data: histgramResponseTimeData
        }
    ]
});
</script>
