<br/>
<div class="text-center" id="histoRequestCountMod"  style="background-color:#46C7C7;margin-bottom:10px;border-radius:10px;">
    <button type="button" class="btn btn-outline-info btn-xs" style="background-color: Transparent;border: none;outline:none;">
        <h3 class="text-center" style="color:white;">Request Count</h3>
    </button>
</div>
<div id="histoRequestCount" style="height: 400px;"></div>

<script>

var histgramRequestCountData = {{histoRequestCount}}
var propertyData = [];
for (var i = 0; i < histgramRequestCountData.length; i++) {
    propertyData[histgramRequestCountData[i][0]] = {"Passed Request":histgramRequestCountData[i][2],"Failed Request":histgramRequestCountData[i][3],"Build Number":histgramRequestCountData[i][4]};
}

Highcharts.stockChart('histoRequestCount', {
    chart: {
        zoomType: 'x'
    },
    credits: { enabled: false },
  legend: {
    enabled: true,
    floating: true,
    y: -55,
    borderWidth: 0,
    itemStyle: { fontWeight: "normal" }
  },
    xAxis: {
         type: 'datetime',
         ordinal: false,
         maxZoom: 10000
    },
  yAxis: [
    {
      min: 0,
      title: {
        text: 'Request Count',
        style: { color: '#4572A7' }
      },
      opposite: false
    }
  ],
    plotOptions: {
    arearange: { lineWidth: 1 },
    series: {
      dataGrouping: { enabled: false },
      marker: {
      enabled: true,
                radius: 8
            }
      },

    },
    rangeSelector: {
    rangeSelector: { align: "left" },
    buttonSpacing: 0,
    buttonTheme: {
      fill: 'LightGrey',
      padding: 1,
      stroke: 'Black',
      'stroke-width': 0.25,
      style: {
        color: 'Black',
        fontWeight: 'bold',
      },
      states: {
        stroke: 'Black',
        'stroke-width': 0.25,
        hover: {
          fill: 'DarkGrey',
          style: { color: 'black' }
        },
        select: {
          fill: 'DarkOrange',
          style: { color: 'white' }
        }
      }
    },
    buttons : [
      {
        type : 'month',
        count : 1,
        text : '1m'
      }, {
        type : 'month',
        count : 3,
        text : '3m'
      }, {
        type : 'ytd',
        count : 1,
        text : 'YTD'
      }, {
        type : 'all',
        count : 1,
        text : 'All'
      }
    ],
    selected : 0,
    inputEnabled : true
  },
tooltip: {
        valueDecimals: 0,
        xDateFormat: '%H:%M:%S %d-%m-%Y',
        formatter: function () {
                var s = '<b>' + Highcharts.dateFormat('%A, %b %e, %Y', this.x) + '</b>';

                            $.each(this.points, function () {
                    s += '<br/>Build Number : ' + propertyData[this.x]["Build Number"] + ' <br/>' +
                        'Total Requests  : ' + this.y + ' <br/>' +
                        'Passed Requests : ' +  propertyData[this.x]["Passed Request"] + "<br/>" +
                        'Failed Requests : ' +  propertyData[this.x]["Failed Request"] ;
                });

                return s;
            }
    },
    series: [
        {
            pointInterval: 1000,
            tooltip: { yDecimals: 0 },
            type : 'line',
            yAxis: 0,
            zIndex: 10,
            marker: {
                radius: 4
            },
            name: 'Total Requests',
            data: histgramRequestCountData
        }
    ]
});

document.getElementById("histoRequestCount").style.width = (screen.width-30) + "px";
</script>