<ul style="list-style:none;padding:0px">
    <a href="#summaryData" style="text-decoration:none;"><li class="addHoverManager">Summary</li></a>
    <a href="#aggTableMod" style="text-decoration:none;"><li class="addHoverManager">Aggregate Report</li></a>
    <a href="#errorMod" style="text-decoration:none;"><li class="addHoverManager">Error Details</li></a>
    <a href="#90centMod" style="text-decoration:none;"><li class="addHoverManager">90% Response Time Graph</li></a>
    <a href="#maxMod" style="text-decoration:none;"><li class="addHoverManager">Max Response Time Graph</li></a>
    <a href="#errGraphMod" style="text-decoration:none;"><li class="addHoverManager">KO Response per Sec Graph</li></a>
    <a href="#testMod" style="text-decoration:none;"><li class="addHoverManager">Test Details</li></a>
    <a href="#userDist" style="text-decoration:none;"><li class="addHoverManager">User Distribution</li></a>
</ul>