<ul style="list-style:none;padding:0px">
    <a href="#summaryDataComp" style="text-decoration:none;"><li class="addHoverManager">Summary</li></a>
    <a href="#aggTableCompMod" style="text-decoration:none;"><li class="addHoverManager">Aggregate Report</li></a>
    <a href="#90centCompMod" style="text-decoration:none;"><li class="addHoverManager">90% Response Time Graph</li></a>
    <a href="#maxCompMod" style="text-decoration:none;"><li class="addHoverManager">Max Response Time Graph</li></a>
    <a href="#errGraphCompMod" style="text-decoration:none;"><li class="addHoverManager">KO Response per Sec Graph</li></a>
    <a href="#buildCompMod" style="text-decoration:none;"><li class="addHoverManager">Build Details</li></a>
</ul>